<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border lobby-gradient">
    <ion-title>Lobby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="lobby-gradient">
  <div class="container">
    <ion-grid fixed>
      <ion-row class="modes">
        <ion-col *ngFor="let item of routes" size="12" sizeMd="6" sizeLg="4">
          <ion-button class="modeBtn" [routerLink]="['/', item.path]" expand="block" size="large" shape="round">
            {{ item.name }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>