<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/lobby']" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Adivina el pokemito</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="checkAndAdvance()" fill="clear" shape="round">
        <ion-icon slot="icon-only" src="assets/icons/clues.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="heightCentered">
    <div class="containerQuiz flex-grow-container">
      <!-- Imagen -->
      <div class="pokemonSection">
        <img
          id="pokemon-image-tab-4"
          class="animate-img"
          [src]="pokemon?.Image"
          [@fadeInOut]
          [attr.decoding]="'async'"
          [attr.loading]="'lazy'"
          [attr.fetchpriority]="'high'"
          width="300"
          height="300"
          (load)="onImgLoaded()"
          alt="Pokémon"
        />
      </div>

      <!-- Casillas del nombre -->
      <div class="buttonsSection flex-grow-item center-content">
        <div id="pokemonName-cont">
          <div class="pokemonRow">
            <button
              *ngFor="let _ of pokemonNameSplitted; let i = index; trackBy: trackByIndex"
              class="pokemonNameButton"
              [class.highlighted]="i === highlightedIndex"
              [class.ok]="feedback[i] === 'ok'"
              [class.bad]="feedback[i] === 'bad'"
              [ngClass]="{ 'small-button': pokemonNameSplitted.length > 10 }"
              (click)="changePosition(i)"
            >
              {{ answer[i] || '' }}
            </button>
          </div>
        </div>

        <!-- Teclado -->
        <div id="keyboard-cont">
          <div class="numbers-row">
            <button
              *ngFor="let item of numbersRowKeyboard; trackBy: trackByIndex"
              class="keyboard-button"
              (click)="selectLetter(item)"
            >{{ item }}</button>
          </div>

          <div class="first-row">
            <button
              *ngFor="let item of firstRowKeyboard; trackBy: trackByIndex"
              class="keyboard-button"
              (click)="selectLetter(item)"
            >{{ item }}</button>
          </div>

          <div class="second-row">
            <button
              *ngFor="let item of secondRowKeyboard; trackBy: trackByIndex"
              class="keyboard-button"
              (click)="selectLetter(item)"
            >{{ item }}</button>
          </div>

          <div class="third-row">
            <button
              *ngFor="let item of thirdRowKeyboard; trackBy: trackByIndex"
              class="keyboard-button"
              (click)="selectLetter(item)"
            >{{ item }}</button>
          </div>
        </div>
      </div>

      <hr style="background-color: black;" />
    </div>
  </div>
</ion-content>
