.textCentered {
    text-align: center;
    color: black;

}

.heightCentered {
    justify-content: center;
    align-items: center;
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.backgroundButton {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
}

.correctOption {
    --background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.incorrectOption {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}



.normalOption {
    --background: #E9E9E9 !important;
}

.bigText {
    font-size: 2em;

}

.animate-img {
    transition: background-image 0.8s ease-out; // Important for transition
}

.buttons {
    filter: grayscale(0);
}

.blackImage {
    filter: brightness(0%) drop-shadow(2px 2px 2px gray);
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}



ion-content {
    --background: rgb(191, 34, 34);
    --background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

ion-toolbar {
    --background: rgb(191, 34, 34);
    --background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
}

.containerQuiz {
    flex-grow: 1;
    border-radius: 40px 40px 0px 0px;
    background-color: white;
    overflow: auto;
    height: 100%;
}


.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
    ;
    display: flex;
    align-items: center;
    left: -10px;
    justify-content: center;
}

.roundIcon {
    width: 32px;
    height: 32px;
}

.topMargin {
    margin-top: 12%;
}

span.ion-text-left {
    margin-right: auto;
    margin-left: 5%;
}

span.ion-text-left-clue {
    margin-right: auto;
}


.pokeballAnswer {
    --background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
}

.iconPokeball {
    font-size: 24px;
    fill: white !important;
    pointer-events: none;
}

.nonClickable {
    pointer-events: none;
}

.disabledOptions {
    pointer-events: none;
    filter: grayscale(90%);
}

.menuClues {
    --background: white !important;
}

.menuClues>ion-content {
    --background: white !important;
    --color: black;
    --width: 50%;
}

.buttonClues {
    color: black;
}

.quizMargin {
    bottom: 10px;
    position: fixed;
    margin-top: 5%;
}

@media (height < 850px) {
    .topMargin {
        margin-top: 4%;
    }
}


.typeImage {
    width: 32px;
    height: 32px;
}

.typeDiv {
    text-align: right;
}

.buttons.normalOption {
    justify-content: flex-start;
    /* aligns items to the start of the button */
    text-align: left;
    /* aligns text to the left */
    font-weight: 300;
}

.buttons.correctOption {
    justify-content: flex-start;
    /* aligns items to the start of the button */
    text-align: left;
    /* aligns text to the left */
    font-weight: 300;
}

.buttons.incorrectOption {
    justify-content: flex-start;
    /* aligns items to the start of the button */
    text-align: left;
    /* aligns text to the left */
    font-weight: 300;
}

/* tab2.page.scss */
.buttons.normalOption span {
    padding-left: 50px;
    /* adjust as needed */
}

.buttons.correctOption span {
    padding-left: 50px;
    /* adjust as needed */
}

.buttons.incorrectOption span {
    padding-left: 50px;
    /* adjust as needed */
}

.imageSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    top: 40px;
    position: absolute;
    padding: 10px;
    height: 65%;
}

.quizSection {
    flex: 1;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    height: 35%;
}

#pokemon-image-tab-2 {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}