.redirect-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  --background: var(--poke-gradient);
  color: #ffffff;
}

.message {
  text-align: center;
  font-weight: 500;
}
