.redirect-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  --background: linear-gradient(135deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
  color: #ffffff;
}

.message {
  text-align: center;
  font-weight: 500;
}
