<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/lobby']" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Adivina el pokemito</ion-title>

    <ion-buttons id="main-content" slot="end">
      <ion-button (click)="fillOrCorrectOneLetter()" fill="clear" shape="round">
        <ion-icon slot="icon-only" src="assets/icons/clues.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="containerQuiz">
    <!-- Image with skeleton and fast loading -->
    <div class="pokemonSection">
      <div class="imgFrame" [class.loading]="isLoadingImage">
        <img
          id="pokemon-image-tab-1"
          class="pokeImg"
          [src]="pokemon?.Image"
          [attr.decoding]="'async'"
          [attr.loading]="'lazy'"
          [attr.fetchpriority]="'high'"
          width="300"
          height="300"
          (load)="onImgLoaded()"
          alt="Pokémon"
        />
        <ion-skeleton-text class="skeleton" *ngIf="isLoadingImage" animated></ion-skeleton-text>
      </div>
    </div>

    <!-- Name cells -->
    <div class="nameSection">
      <div class="pokemonRow">
        <button
          *ngFor="let _ of pokemonNameSplitted; let i = index; trackBy: trackByIndex"
          (click)="changePosition(i)"
          class="pokemonNameButton"
          [class.highlighted]="i === highlightedIndex"
          [class.ok]="feedback[i] === 'ok'"
          [class.bad]="feedback[i] === 'bad'"
          [ngClass]="{'small-button': pokemonNameSplitted.length > 10}"
        >
          {{ answer[i] || '' }}
        </button>
      </div>
    </div>

    <!-- Keyboard -->
    <div id="keyboard-cont">
      <div class="numbers-row" *ngFor="let row of lettersOptionsArrays; trackBy: trackByIndex">
        <button
          *ngFor="let item of row; trackBy: trackByIndex"
          class="keyboard-button"
          (click)="fillLetter(item)"
        >
          {{ item }}
        </button>
      </div>

      <!-- Actions -->
      <div class="actions">
        <button class="keyboard-button del" (click)="clearSelected()">⌫</button>
        <button class="keyboard-button enter" (click)="checkIfCorrect()">ENTER</button>
      </div>
    </div>
  </div>
</ion-content>
