.heightCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-content {
    --background: rgb(191, 34, 34);
    --background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

ion-toolbar {
    --background: rgb(191, 34, 34);
    --background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
}

.containerQuiz {
    flex-grow: 1;
    border-radius: 40px 40px 0px 0px;
    background-color: white;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-grow-item {
    flex-grow: 1;
    overflow: auto;
    width: 100%;
    background-color: rgba(233, 233, 233, 0.5);
}

.keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    text-transform: uppercase;
    background-color: white;
    min-height: 46px;
    min-width: 70px;
    border-radius: 6px;
    border: 1px solid #6b6b6b;
    color: #6b6b6b;
}

.small-button {
    height: 32px !important;
    width: 24px !important;
}

.pokemonNameButton {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    height: 46px;
    width: 32px;
    border-radius: 6px;
    background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
    vertical-align: top;
}

#pokemonName-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:disabled {
    background-color: rgb(37, 37, 37);
    color: white;
}



#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
}

.numbers-row {
    margin: 0.3rem 0;
}

.animate-img {
    transition: background-image 0.8s ease-out; // Important for transition
}

.highlighted {
    border: 2px solid black;
}



#pokemon-image-tab-1 {
    display: block;
    margin: 0 auto;
    filter: drop-shadow(2px 2px 2px gray);
}