.textCentered {
    text-align: center;

}

.heightCentered {
    justify-content: center;
    align-items: center;
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.backgroundButton {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
}

.correctOption {
    --background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
    text-align: left;
    font-weight: 300;
}


.bigText {
    font-size: 2em;
}

.animate-img {
    transition: background-image 0.8s ease-out; // Important for transition
}

.buttonsBlur {
    filter: grayscale(0) drop-shadow(2px 2px 2px gray);
}

.blurred0 {
    filter: blur(30px) grayscale(100%) drop-shadow(2px 2px 2px gray);
}

.blurred1 {
    filter: blur(20px) grayscale(80%) drop-shadow(2px 2px 2px gray);
}

.blurred2 {
    filter: blur(15px) grayscale(60%) drop-shadow(2px 2px 2px gray);
}

.blurred3 {
    filter: blur(10px) grayscale(40%) drop-shadow(2px 2px 2px gray);
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.incorrectOption {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

.normalOption {
    --background: #E9E9E9 !important;
}

.bigText {
    font-size: 2em;

}

.animate-img {
    transition: background-image 0.8s ease-out; // Important for transition
}

.buttons {
    filter: grayscale(0);
}

.blackImage {
    filter: brightness(0%) drop-shadow(2px 2px 2px gray);
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
    ;
    display: flex;
    align-items: center;
    left: -10px;
    justify-content: center;
}

.iconPokeball {
    font-size: 24px;
    fill: white !important;
    pointer-events: none;
}


ion-content {
    --background: rgb(191, 34, 34);
    --background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

ion-toolbar {
    --background: rgb(191, 34, 34);
    --background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
}

.containerQuiz {
    flex-grow: 1;
    border-radius: 40px 40px 0px 0px;
    background-color: white;
    overflow: auto;
    height: 100%;
}


span.ion-text-left {
    margin-right: auto;
    margin-left: 5%;
}

span.ion-text-left-clue {
    margin-right: auto;
}


.pokeballAnswer {
    --background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
}

.sphere {
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(191, 34, 34, 1) 0%, rgba(255, 124, 124, 1) 100%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.iconPokeball {
    font-size: 24px;
    fill: white !important;
}

.nonClickable {
    pointer-events: none;
}

.disabledOptions {
    pointer-events: none;
    filter: grayscale(90%);
}

.menuClues {
    --background: white !important;
}

.menuClues>ion-content {
    --background: white !important;
    --color: black;
    --width: 50%;
}

.buttonClues {
    color: black;
}

.quizMargin {
    bottom: 10px;
    position: fixed;
}

@media (height < 850px) {
    .topMargin {
        margin-top: 4%;
    }
}

.typeImage {
    width: 32px;
    height: 32px;
}

.typeDiv {
    text-align: right;
}

.buttons.normalOption {
    justify-content: flex-start;
    text-align: left;
    font-weight: 300;
}

.buttons.correctOption {
    justify-content: flex-start;
    text-align: left;
    font-weight: 300;

}

.buttons.incorrectOption {
    justify-content: flex-start;
    text-align: left;
    font-weight: 300;
}


.buttons.normalOption span {
    padding-left: 50px;
}

.buttons.correctOption span {
    padding-left: 50px;
}

.buttons.incorrectOption span {
    padding-left: 50px;
}

.imageSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    top: 40px;
    position: absolute;
    padding: 10px;
    height: 65%;
    
}

.quizSection {
    flex: 1;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    height: 35%;

    @media (height < 900px) {
        height: 60%;
    }
}

@media (height< 900px) {
    .imageSection {
        height: 50%;
    }

    .quizSection {
        height: 50%;
    }

    #pokemon-image-blur {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 50%;
    }

}


#pokemon-image-blur {
    display: block;
    margin: 0 auto;
}