<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-title>{{ pokemon.Name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <img [src]="pokemon.Image" [alt]="pokemon.Name">
        </ion-col>
        <ion-col size="6" class="infoCol">
          <p class="pokemonNumber">Nº {{ pokemon.Number }}</p>
          <h2 class="pokemonName">{{ pokemon.Name }}</h2>
          <div class="typeRow">
            <img class="typeImage" [src]="getImageUrl(pokemon.Type1)" [alt]="pokemon.Type1">
            <img class="typeImage" *ngIf="pokemon.Type2" [src]="getImageUrl(pokemon.Type2)" [alt]="pokemon.Type2">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="description">{{ pokemon.Description }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
